
.clear {
    clear: both;
}


/* .slider */
.slider .main-slide .item.active{
    width: 50%;
}
.slider {
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    width: 100%;
    background-color: #f1f1f1;
    padding-bottom: 30px;
}

.slider .container {
    width: 80%;
    margin: 0px auto;
}

.slider .container .best-selling {
    width: 100%;
    float: left;
    text-align: center;
    margin: 0;
    padding: 15px 0 10px;
}

.slider .best-selling .best-top-10:hover {
    opacity: 0.8;
}

.slider .slide-title .cruise {
    width: 100%;
    text-align: center;
    padding: 15px 0 10px;
    margin: 0;
    font-weight: bold;
    color: #555555;
    font-size: 30px;
}

.slider .slide-title .cruise::after {
    content: "";
    max-width: 200px;
    border-bottom: 2px solid #59c45a;
    width: 100%;
    margin: 15px auto 0;
    display: block;
}

.slider .slide-title p {
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin: 0;
    color: #666;
    line-height: 22px;
}

.slider .container .slide-container {
    margin: 20px;
}

.slider .slide-container .main-slide {
    width: 100%;
    overflow: hidden;
}

.slider .main-slide .item {
    display: none;
    width: 50%;
    margin-top: 15px;
    /* padding-right: 16px; */
    padding-left: 16px;
    float: left;
    opacity: 1;
}

.slider .main-slide .item.active {
    display: block;
}

.fade {
    animation-name: fade;
    animation-duration: 2.5s;
}

@keyframes fade {
    from {
        opacity: .65;
    }
    to {
        opacity: 1;
    }
}

.slider .item .image-item {
    overflow: hidden;
    position: relative;
}

.slider .image-item img {
    width: 100%;
    transition-duration: 0.5s;
}

.slider .image-item .heart-tour {
    position: absolute;
    z-index: 1;
    color: rgb(248, 241, 241);
    top: 2%;
    right: 2%;
    font-size: 30px;
}

.slider .image-item .sale {
    font-size: 17px;
    position: absolute;
    z-index: 1px;
    top: 6%;
    left: 5%;
    padding: 2px 7px;
    color: #fff;
    background: #fc8f30;
    border-radius: 2px;
}

.slider .image-item .view-map {
    width: 100%;
    position: absolute; 
    text-align: center;
    bottom: 0;
    z-index: 1;
    padding: 13px 0px;
}
.slick-next:before, .slick-prev:before{
    font-size: 40px;
    font-weight: 100;
    background-color: aquamarine;
}
.review{
    float: left;
}
.best-offer{
    padding-top: 30px;
    float: left;
}
.img-top{
    padding-top: 30px;

}
.header-name h2{
    font-size: 25px;
    font-weight: 800;
    opacity: .8;
}
.header-name p{
    text-align: center;
    font-size: 15px;
    color: #666;
}
.down1402{
    float: right;
    color: #390;
}
/* .fa-angle-down:before {
    padding-left: 55px;
    float: right;
    color: #59c45a;
    width: 200%;
} */
.slider .image-item .view-map p {
    float: left;
    background-color: #390;
    margin: 0;
    font-size: 14px;
    padding: 0 20px;
    color: #fff;
    width: auto;
}

.slider .image-item .view-map a {
    color: #fff;
    margin-right: 10px;
    float: right;
    text-decoration: underline;
    font-size: 14px;
}

.slider .image-item .view-map a:hover {
    text-decoration: none;
}

.slider .image-item img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.slider .item .text-item {
    background-color: rgb(250, 248, 248);
    padding: 16px 20px 30px;
}

.slider .text-item .general-info {
    overflow: hidden;
    margin-bottom: 18px;
}

.slider .general-info .name-star-rv {
    width: 55%;
    float: left;
}

.slider .name-star-rv .star {
    float: left;
    padding: 5px 0;
}

.slider .star .star-review {
    font-size: 10px;
    color: rgb(247, 167, 48);
}

.slider .name-star-rv a {
    text-decoration: none;
    line-height: 28px;
    font-size: 22px;
    color: #007d70;
    font-weight: 700;
    float: left;
}

.slider .name-star-rv a:hover {
    color: rgb(20, 160, 216);
    transition: 0.5s;
}

.slider .review .like-icon {
    font-size: 10px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    float: left;
    text-align: center;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 100%;
    line-height: 18px;
    color: #25ab4b;
}

.slider .review .status {
    color: #25ab4b;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
}

.slider .review .noreview {
    color: #25ab4b;
    font-size: 10px;
}

.slider .review .noreview:hover {
    text-decoration-line: underline;
    cursor: pointer;
}

.slider .general-info .sv-price {
    width: 45%;
    float: left;
}

.slider .services .service-item {
    width: 30px;
    height: 30px;
    float: right;
    text-align: center;
    line-height: 28px;
    margin: 0;
    border: 1px solid #ddd;
    border-radius: 100%;
    color: #ddd;
    font-size: 15px;
    margin-right: 5px;
}

.slider .services .service-item:hover {
    cursor: pointer;
    color: rgb(63, 63, 63);
    transition: 0.5s;
}

.slider .sv-price .price {
    margin-top: 12px;
    color: #999999;
    font-size: 17px;
    float: right;
}

.slider .price .old-price {
    color: #FF9900;
}

.slider .price .special-price {
    margin-left: 5px;
    font-size: 25px;
    color: #25ab4b;
}

.slider .text-item .small-line {
    clear: both;
    content: " ";
    display: block;
    width: 35px;
    height: 3px;
    background-color: #bbb;
}

.slider .text-item .best-offer {
    clear: left;
    margin-top: 15px;
}

.slider .best-offer .title-offer {
    width: 100%;
    border-bottom: 1px dotted #ddd;
    padding-bottom: 5px;
    padding-top: 10px;
    color: rgb(211, 27, 27);
    font-size: 11px;
    font-weight: 700;
}

.slider .best-offer .title-offer:hover {
    cursor: pointer;
}

.slider .slide-container .control-dot {
    text-align: center;
    padding-top: 35px;
}

.slider .control-dot .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slider .control-dot .dot:hover {
    background-color: #7c7c7c;
}

.slider .control-dot .dot.active {
    background-color: #555555;
}

.slider .custom-navigation .btn12 {
    border: none;
    position: absolute;
    top: 50%;
    cursor: pointer;
    font-size: 85px;
    color: #ccc;
    background-color: none;
}

.slider .custom-navigation .btn12.prev12 {
    left: 40px;
}

.slider .custom-navigation .btn12.next12 {
    right: 40px;
}

.slider .view-all-tour {
    text-align: center;
}

.slider .view-all-tour a {
    line-height: 50px;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 5px 30px;
    color: #0cab5b;
    border-bottom: 1px dotted #0cab5b;
    font-weight: bold;
    text-decoration: none;
}
